@tailwind base;
@tailwind components;
@tailwind utilities;

.AccountButtonGroup .AccountButton:first-of-type:not(:only-child) {
    @apply rounded-b-none
}

.AccountButtonGroup .AccountButton:not(:first-of-type):not(:last-of-type) {
    @apply rounded-none;
}

.AccountButtonGroup .AccountButton:not(:first-of-type):not(:last-of-type) {
    @apply border-t-0;
}

.AccountButtonGroup .AccountButton:last-of-type:not(:only-child) {
    @apply rounded-t-none border-t-0;
}

#terminal-list .TerminalButton:first-of-type {
    @apply rounded-t-md;
}

#terminal-list .TerminalButton:last-of-type {
    @apply rounded-b-md;
}

.TerminalStep2 {
    border-top: 2px solid #00A0B4;
}    

.TerminalStep2:before {
    position: absolute;
    left: 25%;
    right: 0;
    top: -2px;
    border-top: 2px solid grey;
    content: '';
}

.TerminalStep3 {
    border-top: 2px solid #00A0B4;
}    

.TerminalStep3:before {
    position: absolute;
    left: 50%;
    right: 0;
    top: -2px;
    border-top: 2px solid grey;
    content: '';
}

.TerminalStep4 {
    border-top: 2px solid #00A0B4;
}    

.TerminalStep4:before {
    position: absolute;
    left: 75%;
    right: 0;
    top: -2px;
    border-top: 2px solid grey;
    content: '';
}
